<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nungil.domain.guardian.GuardianMapper">

    <resultMap id="GuardianResultMap" type="com.nungil.domain.guardian.GuardianVO">
        <id     property="id"       column="id"/>
        <result property="pw"       column="pw"/>
        <result property="email"    column="email"/>
        <result property="phone"    column="phone"/>
        <result property="name"     column="name"/>
        <result property="fcmToken" column="fcm_token"/>
        <result property="regdate"  column="regdate"/>
    </resultMap>

    <insert id="insert" parameterType="com.nungil.domain.guardian.GuardianVO">
        INSERT INTO GUARDIAN (id, pw, email, phone, name)
        VALUES (#{id}, #{pw}, #{email}, #{phone}, #{name})
    </insert>

    <select id="findById" resultMap="GuardianResultMap">
        SELECT * FROM GUARDIAN WHERE id = #{id}
    </select>

    <select id="findByEmail" resultMap="GuardianResultMap">
        SELECT * FROM GUARDIAN WHERE email = #{email}
    </select>

    <update id="updateFcmToken">
        UPDATE GUARDIAN SET fcm_token = #{fcmToken} WHERE id = #{id}
    </update>

</mapper>
